@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  font-family: "Varela Round", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(94, 66, 151), rgb(91, 72, 149));
}
